@if (profile) {
    <app-avatar-placeholder
        [profile]="profile"
        [class]="'avatar-img size--32'"
        class="btn-icon"
    ></app-avatar-placeholder>

    <textarea
        class="hidden-textarea"
        rows="1"
        [placeholder]="isComment ? 'Напишите комментарий' : 'Напишите что-нибудь...'"
        (input)="onTextAreaInput($event)"
        [(ngModel)]="postText"
    ></textarea>

    <div class="emoji-picker btn-icon centered-container">
        <svg icon="emoji" class="svg16 tt-link"></svg>
    </div>

    <div class="send-button btn-icon tt-link" (click)="onCreatePost()">
        <svg icon="arrow-send" class="arrow-send svg16"></svg>
    </div>
}