@if (post(); as post) {
    <app-avatar-placeholder
        [profile]="post.author"
        [class]="'avatar-img size--32'"
        [routerLink]="['/profile', post.author.id]"
        class="centered-container tt-link"
    ></app-avatar-placeholder>

    <div class="post__wrapper">
        <div class="row-baseline mb8">
            <p class="regular" id="post-author-name">{{ post.author | profileName }}</p>
            <p class="small-text" id="post-created-at">{{ post.createdAt | relativeDateTime }}</p>
        </div>

        <div class="post-content small-text mb16">{{ post.content }}</div>

        <div class="likes-and-comments">
            <div class="like__wrapper row tt-link" (click)="onLikeButton($event)">
                <svg icon="like" class="like-btn"></svg>
                <p class="regular likes-counter">{{ likes() }}</p>
            </div>
            <div class="comment__wrapper row tt-link" (click)="onCommentButton($event)">
                <svg icon="comment" class="comment-btn"></svg>
                <p class="regular">{{ post.comments.length > 0 ? post.comments.length : '' }}</p>
            </div>
        </div>
    </div>

    <svg icon="three-dots" class="tt-link mt8" id="three-dots"></svg>
}