:host {
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 16px;
    align-items: start;
    min-width: 260px;
    height: auto;
    padding: 16px;
    margin-bottom: 16px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.name-and-time {
    display: flex;
    align-items: baseline;
    gap: 18px;
}

.post-content {
    word-break: break-word;
    white-space: pre-line;
}

#post-author-name:empty {
    margin-right: 0;
}

#post-created-at {
    color: var(--light-transparent-color)
}

.settings__wrapper {
    height: 14px;
    width: 20px;
}

#three-dots {
    width: 12px;
    height: 3px;
    color: var(--light-color);
}

.likes-and-comments {
    display: flex;
    align-items: center;
}

.likes-counter {
    margin-right: 18px;
}

.likes-counter:empty {
    margin-right: 10px;
}

.like__wrapper,
.comment__wrapper {
    gap: 5px;

    &:hover, 
    &.active {
        color: var(--primary-color);

        svg {
            color: var(--primary-color);
        }
    }
}

.like-btn,
.comment-btn {
    width: 17px;
    height: 16px;
    color: var(--light-color);
}