@if (post(); as post) {
    <app-avatar-placeholder
        [profile]="post.author"
        [class]="'avatar-img size--32'"
        [routerLink]="['/profile', post.author.id]"
        class="centered-container tt-link"
    ></app-avatar-placeholder>

    <main class="post-body">
        <div class="post__header-and-content">
            <header class="header-row mb8">
                <div class="name-and-time row-baseline">
                    <p class="regular" id="post-author-name">{{ post.author | profileName }}</p>
                    <p class="small-text post-created-at">{{ post.createdAt | relativeDateTime }}</p>
                </div>

                <div class="settings__wrapper centered-container tt-link" (click)="onSettingsButton($event)">
                    <svg icon="three-dots" class="three-dots-btn"></svg>
                </div>
            </header>

            <div class="post-content small-text">{{ post.content }}</div>
        </div>

        <div class="post__likes-and-comments">
            <div class="like__wrapper row tt-link" (click)="onLikeButton($event)">
                <svg icon="like" class="like-btn svg16"></svg>
                <p class="regular likes-counter">{{ likes() }}</p>
            </div>
            <div class="comment__wrapper row tt-link" (click)="onCommentButton($event)">
                <svg icon="comment" class="comment-btn svg16"></svg>
                <p class="regular">{{ post.comments.length > 0 ? post.comments.length : '' }}</p>
            </div>
        </div>
    </main>
}