@if (profile) {
    <div class="profile-card">
        <div class="avatar-name">
            <app-avatar-placeholder
                [profile]="profile"
                [class]="'avatar-img size--70 tt-link'"
                [routerLink]="['/profile', profile.id]"
            >
            </app-avatar-placeholder>

            <div class="profile-card__name tt-link" [routerLink]="['/profile', profile.id]">
                <strong class="h5">{{ profile.firstName }} {{ profile.lastName }}</strong>
                <span class="subtitle">{{ profile.username }}</span>
            </div>
        </div>
    
        <div class="profile-card__description">
            {{ profile.description }}
        </div>
    
        <div class="profile-card__tags">
            @for (skill of profile.stack; track skill) {
                <div class="skill-tag">{{ skill }}</div>
            }
        </div>
    
        <div class="profile-card__buttons">
            <div class="btn text-center">Подписаться</div>
        </div>
    </div>
}