@if (profile$ | async; as profile) {
    <header class="profile-page__header">
        <app-profile-header 
            [profile]="profile">
        </app-profile-header>

        @if (isCurrentPageMePage()) {
            <a class="btn to-settings-btn" [routerLink]="['/settings']">
                Редактировать
                <svg icon="settings" class="to-settings-icon"></svg>
            </a>
        }
    </header>


    <main class="profile-page__body">
        <app-post-feed
            [profile]="profile"
        >
        </app-post-feed>

        <div class="profile-page__profile-info">

            <div class="subscribers-amount__wrapper h6 mb16">
                <h3 class="h5">Подписчики</h3>
                <div class="subscribers-amount h6">{{ subscribersAmount$ | async }}</div>
            </div>

            <div class="subscribers-wrapper mb32">
                @for (subscriber of subscribersShortList$ | async; track subscriber.id) 
                {
                    <a
                        class="subscriber-avatar-btn" 
                        [routerLink]="['/profile', subscriber.id]"
                    >
                        <app-avatar-placeholder
                            class="avatar-img size--36"
                            [profile]="subscriber">
                        </app-avatar-placeholder>
                    </a>
                }

                <a class="to-subscribers-search" [routerLink]="['/search']"></a>
            </div>

            <div class="skills-wrapper mb32">
                <h3 class="h5 mb16">Навыки</h3>
                <div class="skills-list-wrapper">
                    @if (isCurrentPageMePage() && profile.stack.length === 0) {
                        <a [routerLink]="['/settings']" class="tt-link-primary">
                            <p class="medium-text">Добавить навыки</p>
                        </a>
                    }

                    @for (skill of profile.stack; track skill)
                    {
                        <div class="skill-tag">{{ skill }}</div>
                    }
                </div>
            </div>

            <div class="description-wrapper">
                <h3 class="h5 mb16">О себе</h3>
                @if (isCurrentPageMePage() && profile.description.length === 0) {
                    <a [routerLink]="['/settings']" class="tt-link-primary">
                        <p class="medium-text">Добавить раздел "О себе"</p>
                    </a>
                }

                <p class="medium-text">{{ profile.description }}</p>
            </div>
        </div>
    </main>
}